@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&subset=korean");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900");
/* 초기화 */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

label {
  font-weight: 400;
  margin: 0; }

dl {
  margin: 0; }
  dl dt {
    font-weight: 400; }
  dl dd {
    margin: 0;
    font-weight: 400; }

i:before {
  margin: 0;
  padding: 0; }

figure {
  margin: 0; }

.container {
  max-width: 1200px !important; }

.container,
.container-fluid {
  padding-left: 15px;
  padding-right: 15px; }
  .container .row,
  .container-fluid .row {
    overflow: hidden;
    margin-left: -15px;
    margin-right: -15px; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      float: left;
      padding-left: 15px;
      padding-right: 15px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      float: left;
      padding-left: 15px;
      padding-right: 15px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      float: left;
      padding-left: 15px;
      padding-right: 15px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      float: left;
      padding-left: 15px;
      padding-right: 15px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      float: left;
      padding-left: 15px;
      padding-right: 15px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      float: left;
      padding-left: 15px;
      padding-right: 15px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      float: left;
      padding-left: 15px;
      padding-right: 15px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      float: left;
      padding-left: 15px;
      padding-right: 15px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      float: left;
      padding-left: 15px;
      padding-right: 15px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      float: left;
      padding-left: 15px;
      padding-right: 15px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      float: left;
      padding-left: 15px;
      padding-right: 15px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      float: left;
      padding-left: 15px;
      padding-right: 15px; }

button {
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  outline: none !important;
  box-shadow: none !important; }

a {
  color: inherit;
  text-decoration: none !important;
  outline: none !important; }
  a:hover, a:focus {
    color: inherit; }

.btn {
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  background: none;
  box-shadow: none !important;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }

.partner {
  padding: 30px 0;
  border-top: 1px solid #ddd; }

.page-header {
  position: relative;
  width: 100%;
  overflow: hidden; }
  .page-header .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/comm/images/sub/bg_page_backdrop.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transform: scale(1.3);
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 3s;
    transition-duration: 3s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
  .page-header .page-intro {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 245px;
    text-align: center;
    padding-top: 75px; }
    .page-header .page-intro h3 {
      position: relative;
      top: 30px;
      opacity: 0;
      font-size: 46px;
      color: #333;
      font-weight: 800;
      letter-spacing: 1px;
      font-family: 'Raleway', sans-serif;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.8s;
      transition-duration: 0.8s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0.6s;
      transition-delay: 0.6s; }
      .page-header .page-intro h3 span:nth-of-type(1) {
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.8s;
        transition-duration: 0.8s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 2.2s;
        transition-delay: 2.2s; }
      .page-header .page-intro h3 span:nth-of-type(2) {
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.8s;
        transition-duration: 0.8s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 2.6s;
        transition-delay: 2.6s; }
    .page-header .page-intro p {
      position: relative;
      top: 30px;
      opacity: 0;
      font-size: 17px;
      letter-spacing: -.45px;
      color: #666;
      font-weight: 400;
      margin-top: 15px;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.8s;
      transition-duration: 0.8s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 1.2s;
      transition-delay: 1.2s; }
  .page-header .snb-nav {
    position: relative;
    z-index: 1; }
    .page-header .snb-nav > ul {
      display: table;
      table-layout: fixed; }
      .page-header .snb-nav > ul > li {
        display: table-cell;
        width: 1%; }
        .page-header .snb-nav > ul > li > a {
          display: block;
          font-size: 16px;
          color: rgba(255, 255, 255, 0.75);
          text-align: center;
          line-height: 64px;
          letter-spacing: -.35px;
          border-right: 1px solid #666;
          background-color: rgba(51, 51, 51, 0.8);
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s;
          /*border-right: 1px solid #*/ }
          .page-header .snb-nav > ul > li > a:hover {
            opacity: .7;
            background-color: #0a3787;
            border-color: #0a3787 !important; }
        .page-header .snb-nav > ul > li:first-child > a {
          border-left: 1px solid #4e5050; }
        .page-header .snb-nav > ul > li.active > a {
          color: #fff;
          background-color: #0a3787;
          border-color: #0a3787 !important; }
          .page-header .snb-nav > ul > li.active > a:hover {
            opacity: 1; }
  .page-header.action .backdrop {
    transform: scale(1); }
  .page-header.action .page-intro h3 {
    top: 0;
    opacity: 1; }
    .page-header.action .page-intro h3 span:nth-of-type(1) {
      color: #e6221b; }
    .page-header.action .page-intro h3 span:nth-of-type(2) {
      color: #0a3787; }
  .page-header.action .page-intro p {
    top: 0;
    opacity: 1; }

section {
  padding-top: 60px;
  padding-bottom: 100px; }
  section .section-header {
    overflow: hidden; }
    section .section-header h4 {
      float: left;
      font-size: 34px;
      color: #333;
      font-weight: 300;
      display: inline-block; }
    section .section-header .page-path {
      display: inline-block;
      float: right; }
      section .section-header .page-path > ol {
        font-size: 0; }
        section .section-header .page-path > ol > li {
          display: inline-block;
          font-size: 14px;
          color: #888; }
          section .section-header .page-path > ol > li > a {
            position: relative;
            display: inline-block; }
            section .section-header .page-path > ol > li > a img {
              position: relative;
              top: -2px; }
          section .section-header .page-path > ol > li:after {
            position: relative;
            top: -2px;
            font-size: 10px;
            display: inline-block;
            font-family: "fontello";
            content: "\E806";
            margin: 0 10px; }
          section .section-header .page-path > ol > li:last-child:after {
            margin: 0;
            content: ""; }
  section .section-content {
    padding-top: 45px; }

.tab-menu {
  text-align: center;
  margin-top: 40px; }
  .tab-menu > ul {
    font-size: 0; }
    .tab-menu > ul > li {
      display: inline-block; }
      .tab-menu > ul > li > a {
        position: relative;
        display: block;
        width: 200px;
        font-weight: 400;
        font-size: 16px;
        color: #666;
        line-height: 68px;
        text-align: center;
        border: 1px solid #ddd; }
        .tab-menu > ul > li > a:after {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: block;
          content: "";
          opacity: 0;
          border: 3px solid #0a3787;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
      .tab-menu > ul > li.active > a {
        font-weight: 600;
        color: #0a3787;
        border-color: #0a3787; }
        .tab-menu > ul > li.active > a:after {
          content: "";
          opacity: 1; }

/* introduction page-header */
.introduction .page-header .backdrop {
  background-image: url(/comm/images/introduction/bg_page_backdrop.jpg); }

/* greeting */
.greeting {
  background-image: url(/comm/images/introduction/bg_greeting.jpg);
  background-repeat: no-repeat;
  background-position: 100% 50px; }
  .greeting .article-header {
    font-family: 'Raleway', sans-serif; }
    .greeting .article-header small {
      display: block;
      font-size: 21px;
      color: #888;
      font-weight: 400;
      letter-spacing: .4px; }
    .greeting .article-header h5 {
      font-size: 48px;
      color: #333;
      font-weight: 800;
      letter-spacing: .2px; }
      .greeting .article-header h5 span:nth-of-type(1) {
        color: #e7211b; }
      .greeting .article-header h5 span:nth-of-type(2) {
        color: #1b499e; }
  .greeting .article-content {
    margin-top: 50px; }
    .greeting .article-content .intro {
      font-size: 21px;
      color: #333;
      font-weight: 400;
      line-height: 31px;
      letter-spacing: -.35px; }
    .greeting .article-content .summary {
      font-size: 15px;
      color: #666;
      font-weight: 300;
      line-height: 24px;
      margin-top: 40px; }
      .greeting .article-content .summary strong {
        display: inline;
        font-weight: 500;
        color: #0a3787; }
    .greeting .article-content dl {
      margin-top: 80px; }
      .greeting .article-content dl dt {
        display: inline-block;
        font-size: 18px;
        color: #333;
        margin-right: 20px;
        font-weight: 400; }
      .greeting .article-content dl dd {
        font-size: 28px;
        color: #333;
        font-weight: bold;
        display: inline-block; }

/* company-summary */
.company-summary .article-header h5 {
  font-size: 31px;
  color: #333;
  font-weight: 300;
  letter-spacing: -.45px; }
  .company-summary .article-header h5 b {
    font-weight: 600;
    color: #0a3787; }
    .company-summary .article-header h5 b.light {
      color: #0954d8; }
.company-summary .article-content {
  margin-top: 40px; }
  .company-summary .article-content > figure {
    overflow: hidden; }
    .company-summary .article-content > figure img {
      float: left;
      display: block;
      margin-right: 1px; }
      .company-summary .article-content > figure img:last-child {
        margin-right: 0; }
  .company-summary .article-content .table-wrap {
    margin-top: 35px; }
    .company-summary .article-content .table-wrap .table {
      margin: 0;
      table-layout: fixed;
      border-top: 2px solid #0a3787; }
      .company-summary .article-content .table-wrap .table tbody tr th {
        width: 180px;
        font-size: 15px;
        color: #333;
        font-weight: 500;
        letter-spacing: -.35px;
        vertical-align: middle;
        padding: 20px;
        border: 0;
        border-bottom: 1px solid #d8d8d8;
        background-color: #f5f5f5; }
      .company-summary .article-content .table-wrap .table tbody tr td {
        font-size: 15px;
        color: #666;
        vertical-align: middle;
        padding-left: 20px;
        padding-right: 20px;
        font-weight: 400;
        border: 0;
        border-bottom: 1px solid #d8d8d8; }
        .company-summary .article-content .table-wrap .table tbody tr td address {
          display: inline-block;
          margin-right: 20px; }
        .company-summary .article-content .table-wrap .table tbody tr td p {
          display: inline-block;
          color: #333;
          line-height: 30px; }

/* history */
.history {
  overflow: hidden; }
  .history > div {
    float: left; }
    .history > div.article-header {
      width: 435px; }
      .history > div.article-header h5 {
        font-size: 31px;
        color: #333;
        line-height: 42px;
        letter-spacing: -.45px;
        font-weight: 300; }
        .history > div.article-header h5 b {
          font-weight: 600;
          color: #0a3787; }
          .history > div.article-header h5 b.light {
            color: #0954d8; }
      .history > div.article-header small {
        font-size: 21px;
        color: #888;
        letter-spacing: .4px;
        font-weight: 400;
        display: block;
        margin-top: 20px;
        font-family: 'Raleway', sans-serif; }
    .history > div.article-content {
      width: 735px; }
      .history > div.article-content .history-list {
        position: relative; }
        .history > div.article-content .history-list:before {
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          height: 100%;
          border-left: 1px solid #ddd; }
        .history > div.article-content .history-list li {
          position: relative;
          padding-left: 130px;
          padding-bottom: 35px; }
          .history > div.article-content .history-list li:before {
            position: absolute;
            top: 16px;
            left: -3px;
            display: block;
            width: 7px;
            height: 7px;
            background-color: #0a3787;
            content: "";
            transform: rotate(45deg); }
          .history > div.article-content .history-list li strong {
            position: absolute;
            top: 0;
            left: 36px;
            font-size: 25px;
            color: #333;
            line-height: 38px;
            font-weight: 600; }
          .history > div.article-content .history-list li dl {
            vertical-align: top;
            margin-left: 40px;
            display: inline-block; }
            .history > div.article-content .history-list li dl > dt {
              float: left;
              clear: both;
              width: 60px;
              font-size: 15px;
              font-weight: 500;
              color: #333;
              line-height: 38px; }
            .history > div.article-content .history-list li dl > dd {
              display: inline-block;
              font-size: 15px;
              color: #666;
              font-weight: 400;
              line-height: 38px;
              letter-spacing: -.2px; }

/* group */
.group {
  background-image: url(/comm/images/introduction/bg_group.png);
  background-repeat: no-repeat;
  background-position: 50% 0; }
  .group > figure .img-fluid {
    display: block;
    margin: 0 auto; }

/* factory-summary */
.factory-summary {
  display: table;
  table-layout: fixed; }
  .factory-summary > div {
    display: table-cell;
    height: 100%;
    vertical-align: middle; }
    .factory-summary > div.item-img {
      width: 800px; }
    .factory-summary > div.details {
      width: 370px;
      padding-left: 50px;
      background-color: #0a3787; }
      .factory-summary > div.details h6 {
        font-size: 23px;
        color: #fff;
        font-weight: bold;
        letter-spacing: -.45px;
        padding-left: 23px;
        background-image: url(/comm/images/introduction/ico_title.gif);
        background-repeat: no-repeat;
        background-position: 0 50%; }
      .factory-summary > div.details dl {
        overflow: hidden;
        margin-top: 25px; }
        .factory-summary > div.details dl > dt {
          float: left;
          clear: both;
          width: 70px;
          font-size: 15px;
          font-weight: 500;
          color: #fff;
          line-height: 32px; }
        .factory-summary > div.details dl dd {
          font-size: 15px;
          font-weight: 400;
          color: rgba(255, 255, 255, 0.75);
          line-height: 32px;
          letter-spacing: -.25px; }
      .factory-summary > div.details .btn-area {
        margin-top: 40px; }
        .factory-summary > div.details .btn-area .btn-default {
          width: 180px;
          text-align: left;
          font-size: 13px;
          padding: 0 15px;
          color: #fff;
          line-height: 45px;
          border: 1px solid #a9b9d5;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
          .factory-summary > div.details .btn-area .btn-default:after {
            font-size: 10px;
            float: right;
            content: "\E803";
            font-family: "fontello"; }
          .factory-summary > div.details .btn-area .btn-default:hover {
            color: #0a3787;
            background-color: #fff; }

/* manufacturing */
.manufacturing > ul > li > a {
  display: block; }
  .manufacturing > ul > li > a .details {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
    color: #333;
    font-weight: 400;
    letter-spacing: -.25px;
    display: block;
    padding: 0 10px;
    text-align: center;
    margin-top: 15px; }
.manufacturing > ul > li:nth-of-type(4) ~ li a {
  margin-top: 30px; }

/* holding-technology */
.holding-technology .article-header {
  position: relative;
  padding: 50px 60px;
  border-top: 2px solid #0a3787;
  border-bottom: 1px solid #ddd;
  background-color: #f5f5f5; }
  .holding-technology .article-header h5 {
    font-size: 31px;
    color: #333;
    line-height: 42px;
    letter-spacing: -.45px;
    font-weight: 300; }
    .holding-technology .article-header h5 b {
      font-weight: 600;
      color: #0a3787; }
      .holding-technology .article-header h5 b.light {
        color: #0954d8; }
  .holding-technology .article-header p {
    font-size: 17px;
    color: #888;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: -.25px;
    margin-top: 20px; }
  .holding-technology .article-header figure {
    position: absolute;
    top: 30px;
    right: 70px; }
.holding-technology .article-content {
  margin-top: 20px; }
  .holding-technology .article-content .attention {
    font-size: 14px;
    color: #888;
    font-weight: 400;
    letter-spacing: -.4px; }
    .holding-technology .article-content .attention:before {
      content: "* "; }
  .holding-technology .article-content > ul {
    margin-top: 35px;
    overflow: hidden; }
    .holding-technology .article-content > ul > li {
      float: left;
      width: 210px;
      margin-right: 30px; }
      .holding-technology .article-content > ul > li:nth-of-type(5n + 5) {
        margin-right: 0; }
      .holding-technology .article-content > ul > li:nth-of-type(5n + 1) {
        clear: both; }
      .holding-technology .article-content > ul > li:nth-of-type(5n) ~ li {
        margin-top: 30px; }
      .holding-technology .article-content > ul > li figure {
        border: 1px solid #ddd; }
        .holding-technology .article-content > ul > li figure .img-fluid {
          width: 100%; }
      .holding-technology .article-content > ul > li .details {
        font-size: 15px;
        color: #333;
        line-height: 24px;
        letter-spacing: -.25px;
        font-weight: 400;
        text-align: center;
        padding: 0 10px;
        margin-top: 20px; }

.location .map .wrap_controllers, .location-chongju .map .wrap_controllers {
  display: none !important; }
.location .details, .location-chongju .details {
  overflow: hidden;
  margin-top: 20px; }
  .location .details > div, .location-chongju .details > div {
    float: left; }
    .location .details > div.information, .location-chongju .details > div.information {
      width: 795px; }
      .location .details > div.information ul, .location-chongju .details > div.information ul {
        font-size: 0; }
        .location .details > div.information ul > li, .location-chongju .details > div.information ul > li {
          font-size: 15px;
          color: #666;
          font-weight: 400;
          display: inline-block;
          line-height: 65px;
          margin-right: 40px; }
          .location .details > div.information ul > li b, .location-chongju .details > div.information ul > li b {
            display: inline-block;
            color: #3a3a3a;
            font-weight: 500;
            margin-right: 10px; }
          .location .details > div.information ul > li address, .location-chongju .details > div.information ul > li address {
            display: inline; }
          .location .details > div.information ul > li:last-child, .location-chongju .details > div.information ul > li:last-child {
            margin-right: 0; }
    .location .details > div.btn-area, .location-chongju .details > div.btn-area {
      width: 375px; }
      .location .details > div.btn-area p, .location-chongju .details > div.btn-area p {
        overflow: hidden; }
        .location .details > div.btn-area p .btn, .location-chongju .details > div.btn-area p .btn {
          float: left;
          width: 186px;
          font-size: 15px;
          color: #fff;
          font-weight: 400;
          line-height: 65px;
          text-align: left;
          padding: 0 25px;
          margin-right: 3px;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
          .location .details > div.btn-area p .btn:hover, .location-chongju .details > div.btn-area p .btn:hover {
            opacity: .7; }
          .location .details > div.btn-area p .btn:after, .location-chongju .details > div.btn-area p .btn:after {
            float: right;
            font-size: 13px;
            content: "\E803";
            font-family: "fontello"; }
          .location .details > div.btn-area p .btn.btn-blue, .location-chongju .details > div.btn-area p .btn.btn-blue {
            background-color: #0a3787; }
          .location .details > div.btn-area p .btn.btn-gray, .location-chongju .details > div.btn-area p .btn.btn-gray {
            margin-right: 0;
            background-color: #444; }

/*# sourceMappingURL=sub.css.map */
